.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary400);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.4rem;
  padding: 6rem;
  border-radius: 5px;
}

.title {
  font-weight: 400;
}

.text {
  color: var(--gray300);
  font-size: inherit;
  text-align: center;
}
