.sectionContainer {
  display: grid;
  gap: 4rem;
  margin: 0 auto;
  padding: 0 4rem 20rem;
  max-width: 120rem;
}

@media screen and (max-width: 790px) {
  .sectionContainer {
    display: grid;
    place-items: center;
    gap: 3rem;
    /* margin: 0 auto; */
    padding: 0 2rem 16rem;
  }
}
