.sectionContainer {
  display: grid;
  gap: 4rem;
  margin: 0 auto;
  padding: 10rem 4rem 20rem;
  max-width: 120rem;
}

@media screen and (max-width: 840px) {
  .sectionContainer {
    display: grid;
    place-items: center;
    gap: 3rem;
    /* margin: 0 auto; */
    padding: 12rem 2rem 16rem;
  }
}

@media screen and (max-width: 460px) {
  .sectionContainer {
    padding: 20rem 2rem 12rem;
  }
}
