.innerWrapper {
  width: 100%;
  max-width: 120rem;
  display: grid;
  gap: 2.8rem;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.infoInnerContainer {
  display: grid;
  gap: 4rem;
  max-width: 60%;
  position: relative;
  z-index: 10;
}

.infoText {
  line-height: 1.6;
}

.imageWrapper {
  position: relative;
  background-image: url('../../assets/renan_copia.png');
  background-size: cover;
  background-position: center;
  max-width: 30rem;
  width: 100%;
  height: 32rem;
  margin-right: 3rem;
  position: relative;
  border-radius: 5px;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0fccce99;
  mix-blend-mode: multiply;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 1024px) and (hover: hover) {
  .imageWrapper:hover::after {
    background-color: transparent;
  }
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 100%;
  height: 100%;
  border: 2px solid var(--yellow500);
  border-radius: 5px;
  z-index: -10;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 1024px) and (hover: hover) {
  .imageWrapper:hover::before {
    top: 1rem;
    left: 2rem;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  }
}

@media screen and (max-width: 1024px) {
  .imageWrapper::before {
    top: 1rem;
    left: 1rem;
  }
}

.techContainer {
  display: grid;
  gap: 2.4rem;
}

.accent {
  color: var(--yellow500);
}

.techInnerContainer {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  row-gap: 1.2rem;
  column-gap: 2.4rem;
}

.tech {
  color: var(--secondary500);
}

.accent_grey {
  color: var(--grey400);
}

@media screen and (max-width: 840px) {
  .innerWrapper {
    place-items: center;
    width: 100%;
  }

  .infoContainer {
    flex-direction: column-reverse;
    gap: 4.2rem;
    width: 100%;
  }

  .infoInnerContainer {
    max-width: 95%;
    width: 100%;
  }

  .imageWrapper {
    max-width: 24rem;
    width: 100%;
    height: 32rem;
  }

  .imageWrapper::before {
    top: 1rem;
    left: 1rem;
  }

  .infoText {
    line-height: 1.4;
    text-align: center;
  }

  .techContainer {
    display: grid;
    gap: 2rem;
    place-items: center;
  }

  .techInnerContainer {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    row-gap: 1rem;
    column-gap: 2.4rem;
  }

  .imageWrapper {
    position: relative;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .techInnerContainer {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    row-gap: 1rem;
    column-gap: 2.4rem;
  }
}
