.linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 3rem;
}

.link,
.link:link,
.link:visited {
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  color: var(--secondary500);
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.link:hover {
  color: var(--secondary400);
}

.link:before {
  content: '';
  position: absolute;
  left: -120%;
  bottom: -3px;
  width: 110%;
  height: 1px;
  background-color: var(--secondary400);
  transition: all 0.2s;
}

.link:hover::before {
  left: -3px;
}
