.container {
  max-width: 60rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(17, 19, 59, 0.9);
  margin: 1.6rem 0;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.5);
}

.description {
  line-height: 1.4;
  letter-spacing: 1px;
}
